<?xml version="1.0" encoding="UTF-8"?>

<web-app version="3.1"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         metadata-complete="false">
    <servlet>
        <servlet-name>MeterTypeServlet</servlet-name>
        <servlet-class>com.dannyhromau.monitoring.meter.servlet.MeterTypeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MeterTypeServlet</servlet-name>
        <url-pattern>/api/v1/meter/type/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MeterReadingServlet</servlet-name>
        <servlet-class>com.dannyhromau.monitoring.meter.servlet.MeterReadingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MeterReadingServlet</servlet-name>
        <url-pattern>/api/v1/meter/reading/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AuthServlet</servlet-name>
        <servlet-class>com.dannyhromau.monitoring.meter.servlet.AuthServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthServlet</servlet-name>
        <url-pattern>/api/v1/auth/*</url-pattern>
    </servlet-mapping>
</web-app>